GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/SEU_ID_AQUI/edit#gid=0
GOOGLE_SHEET_WORKSHEET=Contatos
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json

DEFAULT_COUNTRY_CODE=55
DEFAULT_DDD=18
SCHOOL_NAME=Escola Decia

CONSOLIDATED_REPORT_PATH=Relatorio_Consolidado_BuscaAtiva.xlsx
READY_TO_SEND_OUTPUT_PATH=Ready_To_Send_List.xlsx
CAMPAIGN_LEDGER_PATH=Campaign_Ledger.xlsx

WHATSAPP_MESSAGE_TEMPLATE=Ola {parent_name}, aqui e da {school_name}. Notamos que o(a) aluno(a) {student_name} apresentou ausencias recentes. Poderia, por favor, nos informar o motivo?
SENDER_SAFETY_PROFILE=conservative
SENDER_DEFAULT_MAX_MESSAGES=8
SENDER_DEFAULT_BATCH_SIZE=3
SENDER_DEFAULT_MESSAGE_DELAY_MIN_SECONDS=60
SENDER_DEFAULT_MESSAGE_DELAY_MAX_SECONDS=150
SENDER_DEFAULT_BATCH_BREAK_MIN_SECONDS=600
SENDER_DEFAULT_BATCH_BREAK_MAX_SECONDS=1200
