GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/SEU_ID_AQUI/edit#gid=0
GOOGLE_SHEET_WORKSHEET=Contatos
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json

DEFAULT_COUNTRY_CODE=55
DEFAULT_DDD=18

CONSOLIDATED_REPORT_PATH=Relatorio_Consolidado_BuscaAtiva.xlsx
READY_TO_SEND_OUTPUT_PATH=Ready_To_Send_List.xlsx

WHATSAPP_MESSAGE_TEMPLATE=Olá {parent_name}, aqui é da escola. Notamos que o(a) aluno(a) {student_name} apresentou ausências recentes. Poderia, por favor, nos informar o motivo?
